<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" routerLinkActive="active"
      >3D Book Store</a
    >
    <button class="navbar-toggler" label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        <a class="nav-link" routerLink="book" routerLinkActive="active"
          >Book Category</a
        >
        <a class="nav-link" routerLink="upload" routerLinkActive="active"
          >Upload Book</a
        >
      </div>
    </div>
  </div>
</nav>
